<div class="form-horizontal">
	<%= form_for @schedule do |f| %>
		<div class="form-group">
			<%= f.label :name, class: "col-sm-2 control-label" %>
			<div class="col-sm-2">
				<%= f.text_field :name, class: "form-control", placeholder: "Enter the name" %>
			</div>
		</div>
		<div><%= f.text_field :creator_id, style: "#{'display:none'}" %>
			<%= f.text_field :creator, style: "#{'display:none'}" %>
		</div>
		<div class="form-group">
			<%= f.label :view_type, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<div class="radio-inline">
					<%= f.radio_button :public_view, 'public view', :checked => false %>
					<%= f.label :public_view %>
				</div>
				<div class="radio-inline">
					<%= f.radio_button :private_view, 'private view', :checked => false %>
					<%= f.label :private_view %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-2">
				<%= f.submit 'Submit', class: "btn btn-primary btn-large btn-block" %>
			</div>
		</div>
	<% end %>
</div>