<h3>Schedule Page</h3>

Schedule ID: <%= @schedule.id %><br>
Name: <%= @schedule.name %><br>
Schedule Creator: <%= @schedule.creator %><br>
Public View: <%= @schedule.public_view %><br>
Private View: <%= @schedule.private_view %><br>

<%= link_to 'Edit Schedule', edit_schedule_path %><br>
<%= link_to '<< Back to Schedules Index Page', schedules_path %>